@import url(https://fonts.googleapis.com/css?family=Radley);
@import url(https://fonts.googleapis.com/css?family=Bitter);

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

h1 {
  text-align: center;
  color: purple;
  font-family: 'Bitter', serif;
  font-size: 30px;
}

ul {
  list-style: none;
}

#volunteering {
  align: center;
}

p {
  margin-top: 25px;
  border-style: solid;
  border-color: maroon;
  border-width: thick;
  font-family: 'Radley', serif;
  font-size: 15px;
}

body {
  background-color: #86ABCC;
}
