@import url(https://fonts.googleapis.com/css?family=Radley);
@import url(https://fonts.googleapis.com/css?family=Bitter);

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

h1 {
  text-align: center;
  color: purple;
  font-family: 'Bitter', serif;
  font-size: 35px;
}

ul {
  list-style: none;
}

#volunteering {
  align: center;
  padding-top: .5px;
  margin-left: 250px;
  margin-right: 250px;
}

p {
  margin-top: 15px;
  margin-bottom: 25px;
  border-style: solid;
  border-color: maroon;
  border-width: thick;
  font-family: 'Radley', serif;
  font-size: 18px;
  font-weight: bold;
}

body {
  background-color: #F2D6D6;
}

div.col-md-3 {
  margin-top: 35px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 5px;
}

a {
  font-size: 18px;
}

div.container {
  margin-right: 15px;
  margin-left: 15px;
}
