@import url(https://fonts.googleapis.com/css?family=Alegreya);
body {
  font-family: 'Alegreya', serif;
}

.h1 {
  font-weight: bold;
}

.h2 {
  text-align: center;
}

.title {
  text-align: center;
}
