body{
font-family:'Averia Libre', cursive;
line-height: 250%;
baclground-color:#dad7f9;
}
header{
  font-size:220%;
  text-align: center;
  padding: 2% 5%;
  color: #9e39e4;
  font-weight: 800;
  letter-spacing: .2em;
}
a:link{
  color: #9e39e4;
  font-weight: 600;
}
a{
  color: #9e39e4;
  font-weight: 600;
  word-spacing: .1em
}
nav a{
  margin: 0 7%;
  display:inline-block;
  border:5% black dashed;
  width: 5%;
  text-align:center;
  font-size:100%;
  padding:3% 0;
  letter-spacing: .1em;

}
.floatright{
  float:right;
  padding: 3% 0;
}
h1{
  text-align: left;
  color: pink;
}
